.container {
    background-image: url('../../icons/background.jpg');
    background-size: auto; /* Убедитесь, что фон покрывает весь контейнер */
    background-position: auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: var(--z-base);
}

.paper {
    background-image: url('../../icons/background.jpg');
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание содержимого по началу */
    align-items: flex-start; /* Выравнивание по левому краю */
    position: absolute; /* Фиксируем позицию относительно контейнера */
    left: 0; /* Располагаем блок у левого края контейнера */
    top: 0; /* При необходимости можно задать отступ сверху */
    z-index: var(--z-content); /* Уровень слоя */
    width: 100%; /* Убедитесь, что ширина адаптируется к контейнеру */
    max-width: 400px; /* Ограничиваем максимальную ширину блока */
    pointer-events: auto; /* Убедитесь, что клики проходят через прозрачные области */
}

.regionButton {
    width: 100%;
    justify-content: flex-start;
    border: none;
    padding: 1px 0;
    background: none; /* Прозрачный фон */
    cursor: pointer;
    display: flex;
    align-items: center;
    height: auto;
    font-size: 16px;
    color: var(--headerBgColor, black);
    position: relative;
    z-index: 1;
}

.regionButton span {
    display: flex;
    align-items: center;
    color: #008ad1;
    background: rgba(255, 255, 255, 0);
    /* Прозрачный фон */
    position: relative;
    z-index: 1;
}

.factoryIcon {
    display: flex;
    
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
}

.regionButtonArrow {
    width: 0;
    height: 0;
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #008ad1;
    position: relative;
    /* Для корректного позиционирования */
    z-index: 1;
    /* Стрелка поверх фона */
}

.dataGridContainer {
    font-size: 16px;
    background: none; /* Прозрачный фон */
    padding: 1px 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
    z-index: var(--z-content);
}

.companyItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1px;
    padding: 0px  0px;
    background: none; /* Прозрачный фон */
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.companyName{
    color: white;
}

.companyStatus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0 0px;
    margin-top: -7px;
    border-radius: 50%;
    background: none;
    color: white;
    font-size: 0.5rem;
    position: relative;
    z-index: 1;
}