.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url('../../icons/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    position: relative;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 45vh;
}

.box {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.drawerPaper {
    width: var(--drawerWidthValue, 240px); /* Используем переменную для ширины */
    flex-shrink: 0;
    box-sizing: border-box;
    /* background: rgba(255, 255, 255, 0.8); */
}

.appBar {
    position: fixed;
    z-index: 1201; /* Убедитесь, что AppBar выше Drawer */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typography {
    margin-bottom: 2rem;
    color: black;
}

.nameText{
    font-size: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;
    width: 100%;
    text-align: left;
    color:  #729fcf;
   
}

.roleText {
    width: 100%;
    font-size: 1rem;
    margin-left: 3rem;
    margin-top: 0.8rem;
    display: flex;
    bottom: 1rem;
    text-align: center;
    color:  #729fcf;
}

.logo {
    position: flex-start;
    
}

.menuIcons {
    display: flexbox;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 3 элемента в ряд на мобильных */
    gap: 1.8rem; /* Расстояние между элементами */
    
    /* margin: 30px 10rem;  */
    max-width: 100%; /* Ограничение ширины в пределах контейнера */
    overflow: hidden; /* Предотвращение выхода содержимого за пределы */
    /* padding: 8px 16px; */
    /* padding-top: 8px;
    padding-bottom: 8px; */
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Фиксированная ширина */
    height: 100px; /* Фиксированная высота */
    color: #008ad1;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border: 1px solid gray; /* Легкая рамка для визуального разделения */
    border-radius: 8px; /* Скругленные углы */
    background: none; /* Светлый фон */
    user-select: none; /* Запрещаем выделение элемента */
}



.menuItemPlainText:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    z-index: 1; /* Поднимаем элемент над соседними */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для визуального эффекта */
}

.icon {
    width: 50px; /* Размер изображения */
    height: 50px;
    object-fit: cover; /* Убедитесь, что изображение не искажается */
    margin-bottom: 8px; /* Отступ между иконкой и текстом */
}

.menuItemContainer{
    margin-left: 3rem;
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    color:  #729fcf;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
   
    border-radius: 8px; /* Скругленные углы */
    background: none; /* Светлый фон */
    user-select: none; /* Запрещаем выделение элемента */
}

.iconText {
    font-size: 1rem; /* Размер текста */
    color: white;
    margin: 0; /* Убираем стандартные отступы */
}

.icon{
     width: 1rem; /* Размер иконки */
    height: 1rem;
    margin: 0;
    object-fit: contain; /* Сохраняет пропорции */
}

.menuItemPlainText{
     display: flex;
    flex-direction: row;
    align-items: center; /* Выравниваем элементы по вертикали */
    gap: 0.5rem; /* Расстояние между иконкой и текстом */
    padding: 0.5rem 0; /* Отступы сверху и снизу */
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}