.container {
    background-image: url('../../icons/background.jpg');
    background-size: auto; /* Убедитесь, что фон покрывает весь контейнер */
    background-position: center;
    height: 100%;
    width: 100vw;
    /* max-width: 1200px; */
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: var(--z-base);
    /* overflow-x: hidden; */
}

.regionContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
    z-index: var(--z-content);
    background: none; /* Прозрачный фон */
}

.paper {
    background-image: url('../../icons/background.jpg');
    padding: 10px  2px 2px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание содержимого по началу */
    align-items: flex-start; /* Выравнивание по левому краю */
    position: absolute; /* Фиксируем позицию относительно контейнера */
    left: 0; /* Располагаем блок у левого края контейнера */
    top: 0; /* При необходимости можно задать отступ сверху */
    z-index: var(--z-content); /* Уровень слоя */
    width: 100%; /* Убедитесь, что ширина адаптируется к контейнеру */
    max-width: 400px; /* Ограничиваем максимальную ширину блока */
    pointer-events: auto; /* Убедитесь, что клики проходят через прозрачные области */
}

.regionButton {
    width: 100%;
    justify-content: flex-start;
    border: none;
    padding: 1px 0;
    background: none; /* Прозрачный фон */
    cursor: pointer;
    display: flex;
    align-items: center;
    height: auto;
    font-size: 16px;
    color: var(--headerBgColor, black);
    position: relative;
    z-index: 1;
}

.regionButton span {
    width: 100%;
    display: flex;
    align-items: center;
    color: #008ad1;
    background: rgba(255, 255, 255, 0);
    /* Прозрачный фон */
    position: relative;
    z-index: 1;
}

.factoryIcon {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    z-index: 1;
}

.regionButtonArrow {
    width: 0;
    height: 0;
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #008ad1;
    position: relative;
    /* Для корректного позиционирования */
    z-index: 1;
    /* Стрелка поверх фона */
}

.dataGridContainer {
    width: 100%;
    font-size: 16px;
    background: none; /* Прозрачный фон */
    padding: 1px 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
    z-index: var(--z-content);
}

.companyItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0px 0px;
    background: none; /* Прозрачный фон */
    position: relative;
    z-index: 1;
    margin-bottom: 0;
   
    max-width: 400px; /* Совпадает с max-width paper */
}

.companyInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0; /* Позволяет элементам сжиматься при необходимости */
    margin-right: calc(100vw - 100% + 3px); /* Убираем лишний отступ справа */
    
    /* flex: 1; */
}

.companyName{
    width: auto;
    max-width: calc(100% - 100px);
    color: white;
    padding-right: 0;
    font-size: 1rem;
    word-wrap: break-word; /* Переносим длинные слова */
    white-space: normal; /* Adjust as needed */
}

.companyStatus{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: auto;
    padding: 0 0px;
    margin-top: -7px;
    margin-bottom: 5px;
    border-radius: 50%;
    background: none;
    color: white;
    font-size: 10px;
    position: relative;
    z-index: 1;
}

.loading {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45vh;
}

.checksContainer {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkIcon {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 0 2px 0 2px;
    width: 16px;
    height: 16px;
    position: relative;
    z-index: 1;
}

.inlineLoading {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 1rem; /* Размер соответствует размеру шрифта названий компаний */
    vertical-align: middle;
  }

  @keyframes dot-animation {
    0%, 20% {
      content: "";
    }
    40% {
      content: ".";
    }
    60% {
      content: "..";
    }
    80%, 100% {
      content: "...";
    }
  }
  
  .loadingdots::after {
    content: "...";
    animation: dot-animation 1.5s infinite;
    display: inline-block;
    width: 20px;
    text-align: left;
  }
