/* components/NotificationPanel.css */
.notificationРanel {
   position: fixed;
   display: flex;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2.2rem;
  background-color: var(--tg-theme-button-color);
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Увеличьте z-index до очень высокого значения */
  animation: fadeIn 1s;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from { opacity: 0; bottom: -2.2rem; }
  to { opacity: 1; bottom: 0; }
}